.main-container {
  background-color: #f3fdff;
  padding-right: 3rem !important;
  padding-left: 6rem !important;
}

.header {
  position: absolute;
  z-index: 1;
  width: 93vw;
}

.machine-items {
  cursor: pointer;
}

.subtitles {
  font-size: 20px;
}

.accordion {
  border-radius: 10px;
  width: 435px;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-item {
  background: #ffffff8a;
  opacity: 1 !important;
  backdrop-filter: blur(10px) !important;
  border: none;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.filters {
  width: 690px;
}

.filter-action {
  cursor: pointer;
}

.filters .accordion-item {
  background: #d9dde08f;
  backdrop-filter: blur(40px) !important;
}

::ng-deep.ngx-timepicker-control {
  width: 40 px !important;
}

.hover-filters {
  color: #8656ee !important;
}

.btn-report {
  position: absolute;
  cursor: pointer;
  top: 0 px;
  right: 0 px;
}
