 
<div class="accordion statistics me-4" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed p-2 " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="text-black mb-0 ps-2" style="font-size: 20px;"><strong>Estadísticas Generales</strong> </p>
            </button>
        </h2>
        <!--class="accordion-collapse collapse show"  show hace que el accordion colapse -->
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body pt-1 pb-0">
                <div class="row">
                    <div class="col-12 d-flex align-items-center mb-3">
                        <img src="assets/images/Grupo 1770.svg" class="me-3" width="57px" alt="" srcset="">
                        <div class="text-black ">
                            <p class="mb-0 text-small">Pasajeros</p>
                            <span class="text-small"><strong>Cantidad: {{charts.totalPassengersInWeek}}</strong></span>
                        </div>
                        <div *ngIf="optionChart1">
                            <div echarts [options]="optionChart1" style="width: 190px; height: 110px;"></div>
                        </div>
                    </div>

                    <hr>

                    <div class="col-12 d-flex align-items-center justify-content-around">
                        <img src="assets/images/Grupo 1769.svg" class="me-3" width="57px" alt="" srcset="">
                        <div class="text-black">
                            <p class="mb-0 text-small">Buses en recorrido</p>
                            <span class="text-small"><strong>Cantidad: {{charts.totalBusesActive}}</strong></span>
                        </div>
                        <div *ngIf="optionChart2">
                            <!--  (window:resize)=" resizeChart(ContainerRef.offsetWidth)-->
                            <div echarts [options]="optionChart2" style="width: 100px;height: 100px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="filters p-2">
    <p class="text-center text-black mb-1" style="letter-spacing: 4px; font-size: 13px;">FILTRAR POR:</p>
    <div class="row d-flex justify-content-center">

        <div class="col-7 " style="display: none;">
            <div class=" accordion accordion-filters w-100" id="accordionExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed p-2" id="btnAccordion2" type="button"
                            data-bs-toggle="collapse" (click)="hideBusStops()" data-bs-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            <p class="text-black mb-0 text-center w-100" style="font-size: 16px;"><strong>Selecciona un
                                    rango:</strong> </p>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body pt-1">
                            <p class="fs-6 text-black mb-2 text-center">Hoy</p>
                            <p class="fs-6 text-black mb-2 text-center">Esta semana</p>
                            <p class="fs-6 text-black mb-2 text-center">Este mes</p>
                            <p class="fs-6 mb-1 text-black text-center" #personalizado>Personalizado</p>
                            <form [formGroup]="rangeDatePicker" (mouseover)="hoverFilters(personalizado)"
                                (mouseleave)="personalizado.classList.remove('hover-filters')">
                                <div class="row">
                                    <div class="col-6 px-1">
                                        <mat-form-field appearance="fill" class="w-100">
                                            <mat-label>Fecha:</mat-label>
                                            <input matInput [matDatepicker]="picker" [max]="minDate" formControlName="start"
                                                (dateInput)="datePicker()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <div class="ngx-timepicker-field-example">
                                            <ngx-timepicker-field [defaultTime]="'12:00 am'" formControlName="startTime"
                                                [controlOnly]="true"></ngx-timepicker-field>
                                        </div>
                                    </div>
                                    <div class="col-6 px-1">
                                        <mat-form-field appearance="fill" class="w-100">
                                            <mat-label>Fecha:</mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="end"
                                                (dateInput)="datePicker()">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                        <div class="ngx-timepicker-field-example">
                                            <ngx-timepicker-field [defaultTime]="'12:00 am'" formControlName="endTime"
                                                [controlOnly]="true"></ngx-timepicker-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-1">
                                    <button [disabled]="rangeDatePicker.invalid" style="border-radius: 20px;"
                                        type="button">
                                        <p class="mb-0" style="font-size: 15px;" (click)="filter()">Filtrar</p>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col"><!--col-5  -->
            <div class="col-6 accordion accordion-filters w-100" id="accordionExample3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed p-2" id="btnAccordion3" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                            aria-controls="collapseThree">
                            <p class="text-black mb-0 text-center w-100" style="font-size: 16px;" ><strong>{{(machinePicked) ? machinePicked : ' Nro. de máquina o Patente'}}</strong> </p>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample3">
                        <div class="accordion-body py-2">
                            <p class="fs-6 text-black mb-1 text-center machine-items" (click)="restore()">Todos</p>
                            <p class="fs-6 text-black mb-1 text-center machine-items" (click)="machinePick(machine)" *ngFor="let machine of machines">{{machine.name}} ({{machine.plate}})</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Mapa -->
<agm-map #gm [zoom]="zoom" [latitude]="lat" [longitude]="lng" (mapClick)="seeCoords($event)" (mapReady)="mapReady($event)" >
    <!-- Marcador cuando se hace click en el mapa -->
    <agm-marker [latitude]="latClickMap" [longitude]="lngClickMap" *ngIf="latClickMap || lngClickMap">
    </agm-marker>


    <!-- [label]="{ color: '#ffffff', text: bus.lpf.name }" -->
   <!--  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/images/Grupo 1729.png'"
        *ngIf="!showBusStopsMarkers">
        <agm-info-window>
            <p class="pb-0 mb-0 fs-6"><strong>Maquina:</strong>3344 (BB-CL-34)</p>
            <p class="pb-0 mb-0 fs-6"><strong>Pasajeros:</strong>1.125</p>
        </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="-33.4333405" [longitude]="-70.6896287" [iconUrl]="'assets/images/Grupo 1732.png'"
        *ngIf="!showBusStopsMarkers">
        <agm-info-window [disableAutoPan]="true">
            <p class="pb-0 mb-0 fs-6"><strong>Maquina:</strong>3344 (BB-CL-34)</p>
            <p class="pb-0 mb-0 fs-6"><strong>Pasajeros:</strong>1.125</p>
        </agm-info-window>
    </agm-marker> -->
    <agm-marker [latitude]="machine.lpf.lat" [longitude]="machine.lpf.lng" [iconUrl]="'assets/images/Grupo '+machine.marker+'.png'" *ngFor="let machine of machines"> <!-- (mouseOver)="onMouseOver(infoWindow,gm)" -->
        <agm-info-window [disableAutoPan]="false" #infoWindow>
            <p class="pb-0 mb-0 fs-6"><strong>Maquina:</strong>{{machine.name}} ({{machine.plate}})</p>
            <p class="pb-0 mb-0 fs-6 text-decoration-underline"><strong>Pasajeros: </strong></p>
            <p class="pb-0 mb-0" style="font-size: 16px;">Ingreso: - </p>
            <p class="pb-0 mb-0" style="font-size: 16px;">Salida: - </p>
            <div class="d-flex justify-content-end mb-1">

                <button class="btn btn-primary d-flex align-items-center" (click)="openMachineDetailModal()" type="button"><mat-icon>assignment</mat-icon></button>
            </div>
            
        </agm-info-window>
    </agm-marker>

    <!-- Marcadores Paraderos con mas subidas -->
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/images/parada.svg'" *ngIf="showBusStopsMarkers">

    </agm-marker>
    <agm-marker [latitude]="-33.4333405" [longitude]="-70.6896287" [iconUrl]=" 'assets/images/parada.svg'"
        *ngIf="showBusStopsMarkers">

    </agm-marker>
    <agm-marker [latitude]="-33.4333333" [longitude]="-70.58943" [iconUrl]=" 'assets/images/parada.svg'"
        *ngIf="showBusStopsMarkers">

    </agm-marker>
    <!-- Marcadores Paraderos con mas subidas -->
    <!--  
   

    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="{ url: 'assets/images/Grupo 1735.png'}">
        <agm-info-window [disableAutoPan]="true">
            <p class="pb-0 mb-0 fs-6"><strong>Maquina:</strong>3344 (BB-CL-34)</p>
            <p class="pb-0 mb-0 fs-6"><strong>Pasajeros:</strong>1.125</p>
        </agm-info-window>
    </agm-marker> -->
</agm-map>

<img src="assets/images/arrow-left.png" class="btn-sidebar" data-pushbar-target="right">

<aside #aside data-pushbar-id="right" data-pushbar-direction="right" class="px-1 pt-3"
    style="background-color: #ffffff">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <img src="assets/images/arrow-right.svg" (click)="pushbar.close()" class="btn-close-sidebar me-5" alt=""
                    srcset="">
                <p class="text-black mb-0" style="font-size: 22px;"><strong>Estadísticas Generales</strong></p>
            </div>

            <div class="col-12 p-4 text-black">
                <p class="mb-0" style="font-size: 18px;">Promedio de subida:</p>
                <p class="mb-0" style="font-size: 30px;"><strong>{{this.charts.averageRise}}<span style="font-size: 12px;">(Por cada
                            detención)</span></strong> </p>

                <div *ngIf="optionChart3">
                    <div echarts [options]="optionChart3" style="width: 100%; height: 160px;"></div>
                </div>
                <!-- Paradero con mas subidas -->
                <div class="d-flex justify-content-between mb-2">
                    <p class="mb-0" style="font-size: 18px;"><strong>Paraderos con más subidas</strong> </p>
                    <img src="assets/images/icon-search.svg" alt="" srcset="">
                </div>

                <div class="d-flex justify-content-between mb-1">
                    <div>
                        <p class="mb-0" style="font-size: 18px;"> PA719 </p>
                        <p class="mb-0" style="font-size: 12px;">Hermanos Amunátegui / Esq. San Pablo </p>
                    </div>
                    <p class="mb-0" style="font-size: 22px;"><strong>30</strong> </p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                    <div>
                        <p class="mb-0" style="font-size: 18px;"> PA299 </p>
                        <p class="mb-0" style="font-size: 12px;">Hermanos Amunátegui / Esq. Gral. Mackenna </p>
                    </div>
                    <p class="mb-0" style="font-size: 22px;"><strong>30</strong> </p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                    <div>
                        <p class="mb-0" style="font-size: 18px;"> PA719 </p>
                        <p class="mb-0" style="font-size: 12px;">Hermanos Amunátegui / Esq. San Pablo </p>
                    </div>
                    <p class="mb-0" style="font-size: 22px;"><strong>30</strong> </p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                    <div>
                        <p class="mb-0" style="font-size: 18px;"> PA299 </p>
                        <p class="mb-0" style="font-size: 12px;">Hermanos Amunátegui / Esq. Gral. Mackenna</p>
                    </div>
                    <p class="mb-0" style="font-size: 22px;"><strong>30</strong> </p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                    <div>
                        <p class="mb-0" style="font-size: 18px;"> PA299 </p>
                        <p class="mb-0" style="font-size: 12px;">Hermanos Amunátegui / Esq. Gral. Mackenna</p>
                    </div>
                    <p class="mb-0" style="font-size: 22px;"><strong>30</strong> </p>
                </div>

                <!-- Maquinas -->
                <div *ngIf="showMachineList">
                    <p class="mt-3 mb-0" style="font-size: 18px;"><strong class="me-3">Máquinas</strong>  <span style="font-size: 12px;" >(hacer click en la lupa para ubicar máquina)</span> </p>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover" 
                         *ngFor="let machine of machines">
                        <div class="d-flex align-items-center" (click)="openMachineDetailModal()">
                            <img [src]="'assets/images/Grupo '+machine.marker+'.png'" width="50px" class="">
                            <p class="mb-0" style="font-size: 18px;">{{machine.name}} ({{machine.plate}})</p>
                        </div>
                        <img src="assets/images/icon-search.svg" (click)="centerBus(machine.plate)" alt="" srcset="">
                    </div>

                   <!--  <div class="d-flex justify-content-between hvr-grow-shadow machine-hover "
                        (click)="openMachineDetailModal()">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1729.png" class="">
                            <p class="mb-0" style="font-size: 18px;">1567 (LE-LE-22)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover "
                        (click)="openMachineDetailModal()">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1728.png" class="">
                            <p class="mb-0" style="font-size: 18px;">1567 (LE-LE-22)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover "
                        (click)="openMachineDetailModal()">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1731.png" class="">
                            <p class="mb-0" style="font-size: 18px;">6987 (MT-738)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover "
                        (click)="openMachineDetailModal()">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1732.png" class="">
                            <p class="mb-0" style="font-size: 18px;">3344 (BK-XZ-83)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover ">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1733.png" class="">
                            <p class="mb-0" style="font-size: 18px;">1567 (AB-XX-25)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover ">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1734.png" class="">
                            <p class="mb-0" style="font-size: 18px;">4685 (DC-XA-12)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover ">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1735.png" class="">
                            <p class="mb-0" style="font-size: 18px;">6987 (QW-SA-78)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1736.png" class="">
                            <p class="mb-0" style="font-size: 18px;">7050 (ST-AM-75)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div>

                    <div class="d-flex justify-content-between hvr-grow-shadow machine-hover">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/markers/Grupo 1730.png" class="">
                            <p class="mb-0" style="font-size: 18px;">3784 (SS-CF-64)</p>
                        </div>
                        <img src="assets/images/icon-search.svg" alt="" srcset="">
                    </div> -->

                </div>

                <!-- Slider Toggle -->
                <div class="d-flex align-items-center justify-content-center w-100 mt-4" *ngIf="showToogle">
                    <label class="switch me-3">
                        <input type="checkbox" (change)="slideToggle($event.srcElement)">
                        <span class="slider round"></span>
                    </label>
                    <p class="text-black mb-0" style="font-size: 18px;"><strong>Mapa de calor</strong> </p>
                </div>

            </div>


        </div>

    </div>

</aside>
